/* Contenedor de la tabla */
.tabla-productos {
  max-width: 90%;
  margin: 20px auto;
  // background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

/* Estilo del título */
.tabla-productos h2 {
  text-align: center;
  color: #006A71;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Estilo de la tabla */
.productos-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
}

.productos-table th,
.productos-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Encabezado de la tabla */
.productos-table th {
  background-color: #48A6A7;
  color: white;
  font-size: 1.1rem;
}

/* Fila de la tabla */
.productos-table tr:nth-child(even) {
  background-color: #e3e2e8;
}

.productos-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Estilo de los botones de eliminar */
.delete-btn {
  background-color: #f44336; /* Rojo */
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.round-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%; /* Hace el botón redondo */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-btn img {
  width: 20px; /* Ancho de la imagen dentro del botón */
  height: 20px; /* Alto de la imagen dentro del botón */
  object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
}

.round-btn:hover {
  background-color: #f1f1f1; /* Cambio de color al pasar el mouse */
}

/* Estilo de las imágenes dentro de la tabla */
.productos-table img {
  border-radius: 50%;
}
