<div class="tabla-productos">
    <h2>Productos</h2>
    
    <table class="productos-table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td><img [src]="producto.imagenUrl" alt="{{ producto.nombre }}" width="50" /></td>
          <td>{{ producto.nombre }}</td>
          <td>${{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td>
            <button class="round-btn" (click)="eliminarProducto(producto.id)">
              <img src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="Eliminar" />
            </button>
            <button class="round-btn" (click)="eliminarStock(producto)">
              <img src="" alt="Eliminar" />
            </button>
        </tr>
      </tbody>
    </table>
  </div>
  