/* Estilo general */
.registro-container{
  max-width: 100%;
  margin: 20px auto;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 10px;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9;
  border-radius: 8px;
  padding: 20px;
  // margin: 30px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contenedor de formulario */
.form-container {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Estilo para los grupos de formulario */
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 5px;
}

/* Inputs */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
}

/* Estilo para el botón */
.btn-div {
  text-align: center;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #45a049;
}

.login-btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Mensaje de error */
p {
  text-align: center;
  font-size: 1em;
  color: red;
  margin-top: 20px;
}

/* Botón redondo */
.round-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-btn img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.round-btn:hover {
  background-color: #f1f1f1;
}

/* --- Media Queries para hacer el diseño responsive --- */

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
  }

  .login-btn {
    width: 100%;
    padding: 15px;
    font-size: 1em;
  }
}

/* Pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 80%;
  }
}

/* Pantallas grandes (escritorio) */
@media (min-width: 1025px) {
  .form-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .form-group {
    width: 45%;
  }

  .login-btn {
    width: auto;
  }
}
